.Home {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Verdana', sans-serif;

  &__mainInfo {
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;

    @media (max-width: 480px) {
      flex-direction: column;
    }

    .MobileHeader {
      display: none;
      justify-content: flex-end;
      margin-top: 10px;
      margin-right: 10px;
      margin-bottom: 20px;

      @media (max-width: 768px) {
        display: flex;
      }

      &__list {
        &__icon {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
