.Home {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  color: white;

  @media (max-width: 1350px) {
    padding: 80px 50px;
  }

  @media (max-width: 1250px) {
    padding: 30px 50px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    @media (max-width: 480px) {
      flex-direction: column;
    }
  }
}
