.Home {
  display: flex;
  color: white;

  &__content {
    display: flex;
    flex-direction: row;
    padding: 100px 50px;
    width: 100%;
    justify-content: space-between;

    @media (max-width: 1350px) {
      padding: 80px 50px;
    }

    @media (max-width: 1250px) {
      padding: 70px 50px;
    }

    @media (max-width: 480px) {
      flex-direction: column;
    }
  }
}
