.MainInfo {
  display: flex;
  flex-direction: column;

  @media (max-width: 480px) {
    margin-bottom: 60px;
  }

  &__h1 {
    font-weight: bold;
    font-size: 50px;

    @media (max-width: 1350px) {
      font-size: 45px;
    }

    @media (max-width: 480px) {
      font-size: 40px;
    }
  }

  &__h2 {
    font-size: 36px;
    font-weight: 300;

    @media (max-width: 480px) {
      font-size: 26px;
    }
  }

  &__button-container {
    margin-top: 15px;

    @media (max-width: 480px) {
      text-align: center;
    }

    a {
      border-radius: 15px;
      background-color: red;
      color: white;
      padding: 1em 1.5em;
      text-decoration: none;
      text-transform: uppercase;
      box-shadow: 0 5px 0 darkred;

      @media (max-width: 480px) {
        padding: 1em 3em;
      }
    }

    a:hover {
      color: black;
    }

    a:active {
      background-color: black;
    }
  }
}
